@CHARSET "UTF-8";

#footer{
}

#footer #menu{
	background-color: #434343;
	height: 42px;
	line-height: 42px;
}

#footer #menu ul {
	text-align: center;
	font-size: 0;
}

#footer #menu ul li {
	display: inline-block;
	width: 22%;
}

#footer #menu ul li a {
	display: block;
	color: #bab2b2;
	font-size: 13px;	
}

#footer #info{
	font-size: 12px;
	background: #e9e9e9;
	color: #262626;
	font-weight: bold;
	padding: 20px 13px 18px;
}

#footer #info > p {
	margin-bottom: 4px;
}

#footer #info > p.copy {
	font-weight: normal;
	color: #8f8f8f;
	margin-top: 17px;
}