@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

* {
	margin: 0px; padding: 0px; font-family: "Nanum Gothic", sans-serif;
}

a, a:focus, a:hover {
	color: #000;
	text-decoration: none;
}

ul {list-style: none; margin: 0; padding: 0;}

body{
	margin: 0;
	padding: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    
#container {
	margin: 0;
	padding: 0;
	min-height: 500px;
}

.pain {margin: 25px 0 15px;}
.pain h2 {text-align: center;}
.pain h2 img {width: 70%; margin-right: 21px;}
.pain ul {overflow: hidden; font-size: 0; margin: 10px;}
.pain ul li {display: inline-block; padding: 10px 0; width: 24.3%; text-align: center; border: 1px solid #464495;}
.pain ul li a {display: block;}
.pain ul li a .bg_image {margin: 0 auto;}
.pain ul li a .bg_image img {width: 50px; height; 45px;}
.pain ul li a .pain_txt {display: block; padding: 8px 0 0; font-size: 12px; color: #444; font-weight: 600; letter-spacing: -0.05em;}

.banner .sec01 ul {overflow: hidden; font-size: 0; border: 1px solid #dedede;}
.banner .sec01 ul li {display: inline-block; width: 50%;}
.banner .sec01 ul li img {width: 100%;}

.banner .sec02 a {display: block;}
.banner .sec02 a img {width: 100%;}

.banner .sec03 a {display: block;}
.banner .sec03 a img {width: 100%;}