@CHARSET "UTF-8";

#top_head {
	position: absolute;
	width: 100%;
	height: 10%;
	max-height: 62px;
	top: 0;
	left: 0;
	text-align: center;
}

#top_head .btn_menu {
	display: block;
	position: absolute;
	top: 15px;
	left: 10px;
	border: none;
	height: 30px;
	width: 40px;
	background:	url(../../images/commons/bt_menu.png) 50% 50% no-repeat;
	background-size: 80% 50%;
	text-indent: -9999px;
}

#top_head .logo {
	position: relative;
	top: 11px;
	left: auto;
	width: 200px;
	margin: 0 auto;
	z-index: 10;
}

#top_head .logo a {
	height: 40px;
	display: block;
	text-indent: -9999px;
	background: url(../../images/commons/logo.png) 100% 100% no-repeat;
	background-size: 200px 40px;
}

#top_head .logo img {
	display: block;
	position: absolute;
	top: 10%;
	width: 200px;
	height: 40px;
}

.gnb_menu {
	position: absolute;
	display: block;
	left: -100%;
	top: 67px;
	width: 100%;
	margin-right: 0;
	height: 100%;
	padding: 0;
	z-index: 9999;
	background-color: #fff;
}

.gnb_menu .gnb_inner {
	position: relative;
	background-color: #fff;
	padding: 0;
	overflow-y: auto;
}

.gnb_menu .menu_left {
	margin: 0;
	list-style: none;
	padding: 0;
}

.gnb_menu .menu_left>li {
	overflow: hidden;
	border-top: #f6f7fa 1px solid;
}

.gnb_menu .menu_left>li>a {
	position: relative;
	display: block;
	line-height: 41px;
	padding: 0 40px 0 20px;
	background-color: #fff;
	font-size: 15px;
	color: #333;
	margin-top: -1px;
	text-decoration: none;
}

.gnb_menu .menu_left>li.on>a {
	color: #f08100;
}

.gnb_menu .menu_left>li>ul {
	list-style: none;
	background-color: #f6f7fa;
	margin: -1%;
	overflow: hidden;
	padding: 0;
}

.gnb_menu .menu_left>li>ul>li {
	float: left;
	width: 49.5%;
	border-bottom: #eaeaea 1px solid;
	border-right: #eaeaea 1px solid;
}

.gnb_menu .menu_left>li>ul>li>a {
	position: relative;
	padding: 0 20px 0 20px;
	display: block;
	font-size: 12px;
	color: #757575;
	line-height: 33px;
	text-decoration: none;
}

.gnb_menu .menu_left>li>a:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: 50%;
	right: 20px;
	margin-top: -5px;
	background: url(../../images/commons/m_gnb_icon1.png) 50% 50% no-repeat;
	background-size: 10px 10px;
}

.gnb_menu .menu_left>li.on>a:after {
	background: url(../../images/commons/m_gnb_icon1_on.png) 50% 50% no-repeat;
	background-size: 10px 2px;
}

.gnb_main {
    position: relative;
    margin-top: 67px;
    height: 42px;
    background-color: #4179c6;
    border-top: 4px solid #2c5b9b;
    border-bottom: 4px solid #2c5b9b;
}
.gnb_main ul {
    overflow: hidden;
    padding: 0 5px;
}
.gnb_main ul li {
	float: left;
    width: 20%;
    text-align: center;
    letter-spacing: -1.0px;
    padding-top: 12px;
}
.gnb_main ul li a {
    color: #FFFFFF;
    font-weight: bold;
    font-family: NanumSquare;
    font-size: 14px;
}
.gnb_main ul li.on a {
    color: #ffd973;
}
.gnb_sub {
	position: relative;
    height: 43px;
    background-color: #404040;
    overflow: hidden;
    display: none;
}
.gnb_sub .swiper-slide {
	position: relative;
	display: inline-block;
    padding: 5px 6px;
    margin-top: 4px;
    margin-bottom: 3.7px; 
    width: auto !important;
    height: auto !important;
    text-align: center;
    letter-spacing: -1pt;
    vertical-align: top;
}
.gnb_sub .swiper-slide.on {
    background: #5358cd;
}

.gnb_sub .swiper-slide .caret {
    position: absolute;
    top: 6px;
    right: -22px;
    display: none;
    width: 0px;
    height: 0px;
    border-left: 22px solid #5358cd;
    border-right: 28px solid none;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
.gnb_sub .swiper-slide.on .caret { display: inline-block; }
.gnb_sub .swiper-slide a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 14px;
}

.gnb_sub .swiper-center {
	overflow: hidden;
	text-align: center;
}

.gnb_sub .swiper-center .swiper-slide {
	padding: 5px 6px 8px;
}

.gnb_sub .sub_item {
	display: none;
    position: relative;
    left: 17px;
}

.gnb_sub .sub_item.on {
	display: inline-block;
}

.gnb_sub .sub_item .swiper-slide {
	border: 1.2px solid #7c7c7c;
    border-radius: 10px;
}

.gnb_sub .sub_item .swiper-slide.on {
	background: #7c7c7c;
    border-radius: 10px;
}

@media screen and (max-width: 320px) {
	.gnb_main ul li {
	    padding-top: 8px;
	}
	.gnb_main ul li a {
	    font-size: 13px;
	}
	.gnb_sub .font-sm .swiper-slide a {
	    font-size: 11px;
	}
}