@CHARSET "UTF-8";

#lnb {
	background: #fff;
}

#lnb .outer>li {
	position: relative;
}

#lnb .outer>li:first-child {
	border-top: 6px solid #e4e4e4;
}

#lnb .outer>li:last-child {
	/* border-bottom: 16px solid #e4e4e4; */ /* 풀어야됨 */
}

#lnb .outer>li>a {
	display: block;
	padding-left: 37px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 15px;
	font-weight: bold;
	color: #8d8d8d;
	background-color: white;
}

#lnb .outer>li>a:focus, #lnb .outer>li>a:active, #lnb .outer>li>a:hover
	{
	color: #8d8d8d !important;
}

#lnb .outer>li>a .fas {
	position: absolute;
	top: 18.5px;
	left: 15px;
	color: #42a5e6;
	font-size: 13px;
}

#lnb .outer>li.on>a {
	background: #42a5e6;
	color: #fff;
}

#lnb .outer>li.on>a:focus, #lnb .outer>li.on>a:active, #lnb .outer>li.on>a:hover
	{
	color: #fff !important;
}

#lnb .outer>li.on>a .fas {
	color: #fff;
}

#lnb .outer>li.enter>a {
	height: 60px;
	padding-top: 6px;
	line-height: 150%;	
}

#lnb .outer>li.enter>a .fas {
	top: 22.5px;		
}

#lnb .inner {
	display: none;
}

#lnb .inner.on {
	display: block;
}

#lnb .inner>li {
	border-bottom: 1px solid #ececec;
}

#lnb .inner>li a {
	display: block;
	padding: 10px 28px;
	font-size: 13px;
	background: #42a6e70f;
	color: #4f4f4f;
}

#lnb .inner>li>a:focus, #lnb .inner>li>a:active, #lnb .inner>li>a:hover
	{
	color: #4f4f4f !important;
}

#lnb .inner>li.on a {
	background: #42a6e747;
	font-weight: bold;
}

#lnb .icon {
	margin-top: 2px;
}

#content {
	background: #fff;
	padding-bottom: 72px;
	padding-left: 50px;
	margin-bottom: 50px;
}