@charset "UTF-8";

/***********************
** 공통 Component Style **
************************/

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	position: relative;
  overflow-x: hidden;
	overflow-y: scroll;
  width: 100vw;
	font-family: 'Noto Sans KR', sans-serif;
 	font-weight: 400;
 	text-rendering: optimizeLegibility;
 	-webkit-font-smoothing: antialiased;
 	box-sizing:border-box; 
 	-ms-overflow-style: none;
}

.container {
	position: relative;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* header style */
#header .top {
  position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
}

#header .top .tel {
  position: absolute;
  left: 0;
  top: 0;
}

#header .top .tel img {
	width: 215px;
}

#header .top .logo {
	text-align: center;
}

#header .top .util {
	position: absolute;
  right: 0;
}

#header .top .util ul {
	display: flex;
}

#header .top .util li {
	position: relative;
	padding: 0 12px;
}

#header .top .util li:first-child {
	padding-left: 0;
}

#header .top .util li:first-child:after {
	background: none;
}

#header .top .util li:after{
  position: absolute;
  left: 0;
  top: 4px;
  content: '';
  height: 13px;
  width: 1px;
  background: url(../images/commons/bg_list_bar.png) no-repeat;
}

#header .top .util li a {
	font-size: 15px;
  color: #676767;
}

#header .top .util li a:hover {
	color: #e35473;
}

#header .top .mobile_bar {
	display: none;
	position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -9px;
}

#header .gnb_wrap {
	border-top: 1px solid #dadada;
}

#header .gnb_main {
	position: relative;
}

#header .gnb_main > ul {
	margin: 0 auto;
  width: 1200px;
  height: 55px;
  font-size: 0;
}

#header .gnb_main > ul > li:first-child {
	position: relative;
  left: 15px;
  top: -6px;
}

#header .gnb_main > ul > li {
  display: inline-block;
  width: 15.5%;
}

#header .gnb_main > ul > li > a {
  display: block;
  height: 55px;
  line-height: 55px;
  color: #5c5956;
  font-size: 17px;
  font-weight: 600;
}

#header .gnb_main > ul > li > a:hover {
  color: #e35473;
}

#header .gnb_sub {
	display: none;
	position: absolute;
  top: 55px;
  left: 0;
  width: 100vw;
	height: 200px;
  background: rgba(246, 246, 246, 0.9);
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#header .gnb_sub .inner {
  margin: 0 auto;
	width: 1200px;
}

#header .gnb_sub .sub_list {
	display: none;
	padding-top: 15px;
	width: 15.1%;
	vertical-align: top;
}

#header .gnb_sub .sub_list:first-child {
	display: inline-block !important;
}

#header .gnb_sub .sub_list li {
	padding: 10px 0;
}

#header .gnb_sub .sub_list li a {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}

#header .gnb_sub .sub_list li a:hover {
  color: #e35473;
  font-weight: 400;
}

#header .gnb_sub .sub_image {
  position: absolute;
  right: 35px;
  top: 15px;
  z-index: -1;
  opacity: 0.9;
}

#header .gnb_sub .sub_image img {
	display: none;
}

#header .gnb_mobile_menu {
	position: absolute;
	display: block;
	left: -100%;
	top: 67px;
	width: 100%;
	margin-right: 0;
	height: 100%;
	padding: 0;
	z-index: 9999;
	background-color: #fff;
}

#header .gnb_mobile_menu .gnb_inner {
	position: relative;
	background-color: #fff;
	padding: 0;
	overflow-y: auto;
}

#header .gnb_mobile_menu .menu_left {
	margin: 0;
	list-style: none;
	padding: 0;
}

#header .gnb_mobile_menu .menu_left>li {
	overflow: hidden;
	border-top: #f6f7fa 1px solid;
}

#header .gnb_mobile_menu .menu_left>li>a {
	position: relative;
	display: block;
	line-height: 41px;
	padding: 0 40px 0 20px;
	background-color: #fff;
	font-size: 15px;
	color: #333;
	margin-top: -1px;
	text-decoration: none;
}

#header .gnb_mobile_menu .menu_left>li.on>a {
	color: #e35473;
}

#header .gnb_mobile_menu .menu_left>li>ul {
	list-style: none;
	background-color: #f6f7fa;
	overflow: hidden;
	padding: 0;
}

#header .gnb_mobile_menu .menu_left>li>ul>li {
	float: left;
	width: 50%;
	border-bottom: #eaeaea 1px solid;
	border-right: #eaeaea 1px solid;
}

#header .gnb_mobile_menu .menu_left>li>ul>li>a {
	position: relative;
	padding: 1px 15px;
	display: block;
	font-size: 13px;
	color: #757575;
	line-height: 33px;
	text-decoration: none;
}

#header .gnb_mobile_menu .menu_left>li>a:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: 50%;
	right: 20px;
	margin-top: -5px;
	background: url(../images/commons/ico_menu_off.png) 50% 50% no-repeat;
	background-size: 10px 10px;
}

#header .gnb_mobile_menu .menu_left>li.on>a:after {
	background: url(../images/commons/ico_menu_on.png) 50% 50% no-repeat;
	background-size: 10px 2px;
}

/* visual style */
#visual {
	text-align: center;
}

#visual .visual_image {
	display: flex;
	flex-direction: column;
	justify-content: center;
  margin: 0 auto;
  padding: 0 55px;
  width: 100%;
  max-width: 2200px;
  height: 520px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#visual .visual_01 {
	background-image: url('../images/commons/visual_01.png');
}

#visual .visual_02 {
	background-image: url('../images/commons/visual_02.png');
}

#visual .visual_03 {
	background-image: url('../images/commons/visual_03.png');
}

#visual .visual_text_01 {
  font-size: 1.5rem;
	font-weight: bold;
  color: #98dbe2;
  line-height: 135%;
}

#visual .visual_text_02 {
  margin: 25px 0;
  font-size: 2.5rem;
  font-weight: bold;
	color: #fff;
	line-height: 135%;
}

#visual .visual_text_03 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  line-height: 135%;
}

#visual .flex-direction-nav a:before {
	color: rgba(255, 255, 255, 1);
}

#visual .flexslider:hover .flex-direction-nav .flex-prev {
	left: 25px;
}
 
#visual .flexslider:hover .flex-direction-nav .flex-next {
	right: 25px;
} 

#visual.visual_sub .visual_image {
	height: 380px;
}

/* footer style */
#footer {
	position: relative; 
	width: 100%; 
	background: #434343; 
}

#footer .ft_info {
	 padding: 30px 0; 
	 color: #e1e1e1; 
	 font-size: 13px; 
	 line-height: 23px;
}

#footer .ft_info a {
	color: #e1e1e1;
}