@charset "UTF-8";

/***********************
** 공통 Component Style **
************************/

body {
	position: relative;
  overflow-x: hidden;
	overflow-y: scroll;
  width: 100vw;
	font-family: 'Noto Sans KR', sans-serif;
 	font-weight: 400;
 	text-rendering: optimizeLegibility;
 	-webkit-font-smoothing: antialiased;
 	box-sizing:border-box; 
 	-ms-overflow-style: none;
}

.container {
	position: relative;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* header style */
#header .top {
  position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
}

#header .top .tel {
  position: absolute;
  left: 0;
  top: 0;
}

#header .top .tel img {
	width: 215px;
}

#header .top .util {
	position: absolute;
  right: 0;
}

#header .top .util ul {
	display: flex;
}

#header .top .util li {
	position: relative;
	padding: 0 12px;
}

#header .top .util li:first-child {
	padding-left: 0;
}

#header .top .util li:first-child:after {
	background: none;
}

#header .top .util li:after{
  position: absolute;
  left: 0;
  top: 4px;
  content: '';
  height: 13px;
  width: 1px;
  background: url(../images/commons/bg_list_bar.png) no-repeat;
}

#header .top .util li a {
	font-size: 15px;
  color: #676767;
}

#header .top .util li a:hover {
	color: #e35473;
}

#header .gnb_wrap {
	border-top: 1px solid #dadada;
}

#header .gnb_main {
	position: relative;
}

#header .gnb_main > ul {
	margin: 0 auto;
  width: 1200px;
  height: 55px;
  font-size: 0;
}

#header .gnb_main > ul > li:first-child {
	position: relative;
  left: 15px;
  top: -6px;
}

#header .gnb_main > ul > li {
  display: inline-block;
  width: 15.5%;
}

#header .gnb_main > ul > li > a {
  display: block;
  height: 55px;
  line-height: 55px;
  color: #5c5956;
  font-size: 17px;
}

#header .gnb_main > ul > li > a:hover {
  color: #e35473;
  font-weight: 500;
}

#header .gnb_sub {
	display: none;
	position: absolute;
  top: 55px;
  left: 0;
  width: 100vw;
	height: 200px;
  background: rgba(246, 246, 246, 0.9);
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#header .gnb_sub .inner {
  margin: 0 auto;
	width: 1200px;
}

#header .gnb_sub .sub_list {
	display: none;
	padding-top: 15px;
	width: 15.2%;
	vertical-align: top;
}

#header .gnb_sub .sub_list:first-child {
	display: inline-block !important;
}

#header .gnb_sub .sub_list li {
	padding: 10px 0;
}

#header .gnb_sub .sub_list li a {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}

#header .gnb_sub .sub_list li a:hover {
  color: #e35473;
  font-weight: 400;
}

#header .gnb_sub .sub_image {
  position: absolute;
  right: 35px;
  top: 15px;
}

#header .gnb_sub .sub_image img {
	display: none;
}

/* footer style */
#footer {
	position: relative; 
	width: 100%; 
	height: 174px;
	background: #434343; 
}

#footer .ft_info {
	 padding: 30px 0 0; 
	 color: #e1e1e1; 
	 font-size: 13px; 
	 line-height: 23px;
}

#footer .ft_info a {
	color: #e1e1e1;
}