@CHARSET "UTF-8";

body {margin: 0; overflow: hidden; position: relative; height: 100vh;}
body > img {display: block; width: 100%; height: 92vh;}

.btn_slides {border-top: 1px solid #dedede; font-size: 0;}
.btn_slides > * {display: inline-block; padding: 10px 0; text-align: center;}
.btn_slides .btnPrev {width: 30%;}
.btn_slides .btnPrev .fas {font-size: 22px; color: #333;}
.btn_slides .btnNext {width: 30%;}
.btn_slides .btnNext .fas {font-size: 22px; color: #333;}
.btn_slides .popup_number {width: 40%; font-family: '나눔 고딕'; font-weight: bold; font-size: 14px; vertical-align: top;}

.btn_box {overflow: hidden; position: absolute; bottom: 0; width: 100%; height: 8vh; line-height: 8vh; background: #f2f2f2;}
.btn_box a {position: relative; display: inline-block; padding: 0 15px; font-size: 14px; font-weight: 600; color: #333; text-decoration: none;}
.btn_box a:hover {text-decoration: underline;}
.btn_box .btnDay {position: relative; float: left; padding-left: 37px;}
.btn_box .btnDay .far {position: absolute; top:50%; left: 12px; margin-top: -10px; font-size: 20px;}
.btn_box .btnClose {float: right;}

#overlay_t { background-color: #000; bottom: 0; left: 0; opacity: 0.5; filter: alpha(opacity = 50); 
            /* IE7 & 8 */ position: fixed; right: 0; top: 0; z-index: 99; display:none;}

#popup_layer { width: 90%; margin-bottom:30px; background:#fff; border:solid 1px #ccc; position:absolute; 
               top:260px; left:50%; box-shadow: 0px 1px 20px #333; z-index:100; display:none; font-size: 0;}
               
#popup_layer .popup_image {display: none;}               