@CHARSET "UTF-8";

.sub_page {
	padding: 20px 60px 40px;	
}

.sub_page > h2 {
	margin: 60px 0 50px;
}

.top-srh {
	overflow: hidden;
	margin: 0 0 10px;
}
.top-srh .total {
	float: left;
	margin: 0;
	line-height: 28px;
}
.top-srh .total span{
	padding: 0 1px 0 3px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'verdana';
	color: #1a8ed9;
}
.top-srh .search {
	float: right;
}
.top-srh .search select {
	height: 26px;
	padding: 2px;
	border: 1px solid #cecece;
}
.top-srh .search input {
	height: 26px;
	padding: 2px;
	border: 1px solid #cecece;
}
.top-srh .search .btn_search {
	display: inline-block;
    color: #333;
    padding: 4px 12px 6px 26px;
    background: url(../images/commons/btn_search_bg.gif) no-repeat 0 0;
}
.tbl-list {
	width: 100%;
	border-collapse: collapse;
}
.tbl-list th {
	height: 41px;
	border-top: 1px solid #464646;
	border-bottom: 1px solid #dadada;
	background: #f9f9fb;
	color: #464646;
	font-weight: 600;
	text-align: center;
	word-wrap: break-word;
	word-break: break-all;
	
}
.tbl-list td {
	height: 38px;
	padding: 5px;
	text-align: center;
	color: #797979;
	border-bottom: 1px solid #dadada;
	word-wrap: break-word;
	word-break: break-all;
}
.tbl-list td.left {
	text-align: left;
}
.tbl-list td.empty {
	height: 100px;
}
.tbl-list td a {
	color: #797979;
}
.tbl-list td a:hover {
	color: #0a6fe9!important;
	text-decoration: underline !important;
}
.tbl-view {
	width: 100%;
	margin: 0 0 25px;
	border-top: 1px solid #464646;
	border-collapse: collapse;
}
.tbl-view th {
	border-bottom: 1px solid #dadada;
	color: #464646;
	font-weight: 600;
	background: #f9f9fb;
}
.tbl-view th,
.tbl-view td {
	height: 25px;
	text-align: left;
	padding: 8px;
}
.tbl-view td {
	border-bottom: 1px solid #dadada;
	color: #797979;
}
.tbl-faq {
	width: 100%;
	margin-top: 15px;
	border-collapse: collapse;
}
.tbl-faq td {
	padding: 13px 0;
	text-align: center;
	border-bottom: 1px solid #d7d7d7;
}
.tbl-faq td.info span {
	text-align: center;
	font-size: 13px;
    color: #fff;
    border-radius: 15px;
    padding: 5px 30px;
}
.tbl-faq td.info.que span {
	background-color: #4672ed;
}
.tbl-faq td.info.ans span {
	background-color: #25b3ed;
}
.tbl-faq td.type {
	font-family: Noto Sans;
    font-weight: 700;
    font-size: 16px;
    color: #1b356f;
    padding-left: 20px;
    letter-spacing: -1px;
}
.tbl-faq td.question {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 16px;
    color: #737373;
    padding-left: 20px;
    padding-right: 40px;
    text-align: left;
    letter-spacing: -1px;
}
.tbl-faq td.answer {
    text-align: left;
    padding: 14px 40px;
    color: #595959;
}
.tbl-faq td.empty {
	height: 50px;
}
.tbl-faq td input {
	width: 100%;
	height: 23px;
	font-size: 13px;
}
.tbl-faq td textarea {
	width: 100%;
	min-height: 120px;
	font-size: 13px;
	resize: none;	
}
.tbl-reg {
	display: none;
	margin: 0 0 20px;
    padding: 10px 0; 
	border-top: 2px solid #c7c7c7;
	border-bottom: 2px solid #c7c7c7;
}
.btn_list {
	display: inline-block;
    background: #fcfcfc;
    border: 1px solid #bcbcbc;
    padding: 6px 17px 7px 17px;
    color: #1f1f1f;
    font-weight: 600;
}
.btn_big {
	display: inline-block;
    background: #fcfcfc;
    border: 1px solid #bcbcbc;
    padding: 10px 50px;
    color: #1f1f1f;
    font-weight: 600;
}
.btn_sm {
	display: inline-block;
    background: #fcfcfc;
    border: 1px solid #bcbcbc;
    padding: 2px 5px;
    color: #1f1f1f;
    font-weight: 600;
    font-size: 11px;
    border-radius: 3px;
}
.slider_wrap .slider_img img {
	width: 840px;
}

.slider_wrap .slider {
	margin: 20px 0 0;
	font-size: 0;
}

.slider_wrap .slider a {
	display: inline-block;
	padding: 0 2px 5px;
}

.slider_wrap .slider a img {
	width: 101px;
	border: 4px solid #afafaf;
}

.slider_wrap .slider a:hover img {
	border-color: #006dc9;
}

.slider_wrap .slider a.on img {
	border-color: #1a8ed9;
}

.paging {
	margin: 50px 0 0;
	text-align: center;
}
.paging ul {
	font-size: 0;
}
.paging ul li {
	display: inline-block;
	font-size: 14px;
}
.paging ul li.page_no {
    padding: 2px 6px 0;
    vertical-align: top;
}
.paging ul li a:hover {
	color: #3693c8 !important;
}
.paging ul li.active a {
	color: #3693c8 !important;
	font-weight: bold;
}